* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a[href="#WEBSTUDIO"] span,
a[href="#WEBSTUDIO"] {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway'; sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17; /* 116.667% */
    gap: 76px;
}

/*GENERAL TOPLINE*/

.link {
    font-family: Roboto;
    font-size: 16px;
    gap: 40px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.32px;
}


.main-link {
    color: #2E2F42;
    text-decoration: none;
    /*display: flex;
    align-items: flex-start;*/
    gap: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;   
}

.main-link:hover,
.main-link:focus {
    color: var(--OCEAN, #404BBF);
}

.active {
    color: var(--OCEAN, #404BBF);
} 

.active::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404BBF);
    position: relative;
    top: 20px
}

.contact-link {
   color: var(--SLATE, #434455);
   text-decoration: none;
    /* Body Medium */
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.32px;
    margin-left: 40px;*/
}

.contact-link:hover,
.contact-link:focus {
    color: var(--OCEAN, #404BBF);
}

.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    /*width: 1440px;*/
    height: 72px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding-left: 156px;*/
  }

.link-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    gap: 40px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: var(--NAVY-BLUE, #2E2F42);
    display: flex;
    align-items: center;
}
.footer-bg {
    display: flex;
    padding-top: 140px;
    padding-bottom: 100px;
    padding-left: 156px;
    
} 

.footer-txt {
    color: #F4F4FD;
    padding-top: 17.5px;
    text-align: left;
}

.footer-socials {
    display: flex;
    gap: 16px;
    padding-top: 16px;
    height: 40px;
    padding-left: 120px;  
}

.footer-socials-icon {
    background-color: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.footer-socials-icon svg {
    fill: var(--CLOUD, #F4F4FD)
}

.footer-socials-icon:hover,
.footer-socials-icon:focus {
    background: #31D0AA;
    cursor: pointer;
}

.footer-socials-icon:hover svg,
.footer-socials-icon:focus svg {
    fill: #F4F4FD;
}

.footer-social-media {
    /*display: flex;*/
    color: var(--WHITE, #FFF);
    padding-left: 120px;
    margin: 0px;
    height: 24px;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    
}

.input-sub {
    border: 2px solid white;
    background: none;
    border-radius: 4px;
    padding: 10px;
    width: 264px;
    background-color: none;
    margin-right: 24px;
}

.input-sub::placeholder {
    color: var(--WHITE, #FFF);
}

.btn-sub {
    display: inline-flex;
    align-items: center;
    color: var(--WHITE, #FFF);
    padding: 8px 24px;
    gap: 16px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);   
    border: none;
}

.btn-sub svg {
    fill: var(--WHITE, #FFF);
}

.btn-sub:hover,
.btn-sub:focus {
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-sub {
    margin-left: 80px;
}

.footer-subscribe-text {
    color: var(--WHITE, #FFF);
    font-weight: 500;
    margin-bottom: 16px;
}
/*END OF GENERAL*/


/* MAIN PAGE*/

body {
    /*color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;*/
    /*width: 1440px;*/
    /*height: 2592px;*/
}

ul {
    list-style: none;
    display: flex;
    margin-left: 0;
    /*padding-inline-start: 156px;*/
    /*default padding-inline-start 40px - adjusted to 0 to fit the 1440 width*/
}


.feature {
    /*display: flex;*/
    width: 264px;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding-inline: 12px;
    margin-top: 52px;
}

.feature-txt {
    text-align: left;
}

.about-icon {
    padding: 24px 0;
    text-align: center;
    border-radius: 4px;
    background: var(--CLOUD, #F4F4FD);
}

.image1-src {
    margin-right: 12px;
    width: 360px;
    height: 300px;
    
}
.image2-src {
    margin-right: 24px;
    margin-left: 12px;
    width: 360px;
    height: 300px;
}

/*HERO*/
.hero {
    background: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url("../images/people-office\ 1.jpg") ;
    background-size: cover;
    /*width: 1440px;*/
    height: 600px;
    gap: 48px;
}

.main-heading {
    /*background: var(--NAVY-BLUE, #2E2F42);*/
    color: var(--WHITE, #FFF);
    text-align: center;

    /* Header 1 */
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    /*width: 1440px;*/
    padding-top: 188px;
    padding-bottom: 292px;
    margin: 0;
}

.button-btn {
    width: 169px;
    height: 56px;
    padding: 16px ;
    margin-top: 50px;
    color: var(--WHITE, #FFF);
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    /* Button Text */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.button-btn:hover,
.button-btn:focus {
    background: var(--OCEAN, #404BBF);
    cursor: pointer;
}

.backdrop {
    /*width: 1440px;*/
    height: 100%;
    background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    position: fixed;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    height: 584px;
    margin-top: 0;
    background: var(--DAIRY, #FCFCFC);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    padding-top: 24px;
    padding-right: 24px;
    text-align: center;
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 500px;
    padding-left:24px;
}

.is-hidden {
    pointer-events: none ;
    opacity: 0;
}

.modal-close-btn{
    background-color: var(--CORNFLOWER, #E7E9FC);
    color: #2E2F42;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid rgba(161, 163, 220, 0.7);
    margin-left: auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
    cursor: pointer; 
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--OCEAN, #404BBF);
    border: 1px solid currentColor;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(64, 75, 191, 1);   
}

.service-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.input-label {
    text-align: left;
    margin-bottom: 8px;
}

.service-input {
    /*width: 360px;
    height: 40px;*/
    padding: 12px 40px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-icon {
    position: absolute;
    top: 55%;
    left: 15px;
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-input:focus + .service-icon,
.service-input:hover + .service-icon {
    fill: #4D5AE5;
}

.service-input:hover {
    border-radius: 4px;
    border: 1px solid #4D5AE5;
}

.service-input-textarea {
    border: 1px solid #2e2f42;
    border-radius: 4px;
    transition: 250ms;
    transition-property: color, border-color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px;
}

.service-agree {
    display: flex;
    align-items: center;
    justify-content: center;
}
.agree-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    left: 23px;
    opacity: 0;
}

.agree-check-icon {
    fill: none;
    margin-right: 8px;
    border: 1px solid rgb(103, 100, 100);
    border-radius: 2px;
    transition: 250ms;
    transition-property: border-color, background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.service-agree .agree-checkbox:focus + .agree-check-icon,
.service-agree .agree-checkbox:checked:focus + .agree-check-icon {
    outline: 1px solid #767575;
    background-color: #404BBF;
    /*fill: var(--OCEAN, #404BBF);
    stroke-width: 1px;
    stroke: var(--OCEAN, #404BBF);*/
}

.service-agree .agree-checkbox:checked + .agree-check-icon {
    background-color: var(--iris);
    border-color: var(--iris);
    fill: white;
    outline: none;
    stroke: white;
    stroke-width: 0.2;
}

.agree-text {
    font-size: 12px;
}

.modal-send {
    width: 169px;
    height: 56px;;
    /*margin-top: 15px;*/
    padding: 16px 32px;
    color: white;
    border-color: transparent;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-send:hover {
    cursor: pointer;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*END OF HERO*/
.section3 {
    background: var(--CLOUD, #F4F4FD);
    /*width: 1440px;*/
    height: 780px;
}

h2.sec3-title {  
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    margin-top: 120px;
    padding-top: 120px;
    margin-bottom: 72px;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-card {
    display: flex;
    padding: 0px;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-right: 24px;*/
    margin-left: 24px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


ul.card-content {
    /*display: flex;*/
    justify-content: column;
    align-items: center;
    width: 232px;
    gap:32px;
}

.name-card {
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: center;
}


.title-card {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.team-socials {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
}

.team-socials-icon {
    background-color: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.team-socials-icon svg {
    fill: var(--CLOUD, #F4F4FD);
   
}

.team-socials-icon:hover,
.team-socials-icon:focus {
    background: #31D0AA;
    cursor: pointer;
}

.team-socials-icon:hover svg,
.team-socials-icon:focus svg {
    fill: #F4F4FD;
}


h2.what-are-we-doing {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    margin-top: 120px;
    margin-bottom: 72px;
    border-top: 72px;
        
}

h3 {
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.20; /* 120% */
    letter-spacing: 0.4px;
           
}

p {
    color: var(--SLATE, #434455);
        /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    margin: 0;
}


/* CUSTOMERS STYLING */

.section-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    margin-bottom: 72px;
    margin-top: 120px;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.clients {
    margin-bottom: 120px;
}

.list {
    gap: 24px;
    margin-bottom: 120px;
}
.client-icon {
    border: 1px solid #8e8f99;
    padding: 16px 32px;
}

.client-icon svg {
    fill: #8e8f99;
}

.client-icon:hover,
.client-icon:focus {
    border-color: #404BBF;
}

.client-icon:hover svg,
.client-icon:focus svg {
    fill: #404BBF;
}

/*END OF MAIN PAGE*/

/*PORTFILIO-PROJECT CARDS*/

.button-container {
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    background: var(--CLOUD, #F4F4FD);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.button-container:hover,
.button-container:focus {
    color: var(--WHITE, #FFF);
    background: var(--OCEAN, #404BBF);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*PORTFOLIO BUTTONS*/
button {
    color: var(--WHITE, #FFF);
    cursor: pointer;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    border-style: none;
    display: inline-block;
    justify-content: center;
       
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
}

.filter-btn {
    display: flex;
    padding-top: 96px;
    padding-bottom: 72px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.body2 {
    background: #FFF;
    /*width: 1440px;
    /*height: 2076px;*/
}

.team-card2 {
    display: flex;
    padding: 0px;
    flex-direction: column;
    margin-right: 24px;
    /*margin-left: 12px;*/
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.team-card2:hover,
.team-card2:focus {
    border: 1px solid #4D5AE5;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title-card2 {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
}


.name-card2 {
    margin-top: 32px;
    margin-bottom: 0px;
    margin-left: 16px;
}

.project-card img {
    display: block;
    
}

.project-card {
    position: relative;
    overflow: hidden;
}

.team-card2:hover .image-caption {
    opacity: 1;
    transform: translateY(0)
}
.image-caption p {
    color: var(--CLOUD, #F4F4FD);
    padding: 40px 32px;
}
.image-caption {
    position: absolute;
    background-color: rgba(77, 90, 229, .75);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform  0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
/*END OF PORTFOLIO*/

/* CSS MEDIA */

@media (min-width: 428px) {
    .container {
        width: 428px;
    } 

    .list {
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .contaner { 
        width: 768px;
    }

   .about-feature {
        flex-basis: calc(100% / 2 - 30px)
    }

    .list {
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    .about-feature {
        flex-basis: calc(100% / 4 - 30px)
}

    .list {
        flex-wrap: wrap;
    }
}